spring:
  datasource:
    url: jdbc:h2:file:./data/ms-laboratorios-db;AUTO_SERVER=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      dialect: org.hibernate.dialect.H2Dialect
      ddl-auto: update
    show-sql: false

  flyway:
    locations: classpath:db/migration/common,classpath:db/migration/h2

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false
